input{
    padding: 10px;
    background-color: darkgrey;
    color: rgb(11, 11, 156);
    margin: 2%;
    font-weight: 500;
    
}
button{
    padding: 10px;
    margin: 2%;
    background-color: chartreuse;
    border: 1px solid black;
}
select{
    padding: 10px;
    margin: 2%;
    background-color: rgb(211, 53, 150);
    border-radius: 10px;
}
div{
    padding: 10px;
    margin: 2%;
    background-color: antiquewhite;
    font-weight: 600;
}