#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}
.main{
  
 
  gap: 20px;
  align-items: center;
  justify-items: center;

}

.message{
  
  margin: 3%;
  font-weight: 700;
  padding: 30px;
  border: 1px solid black;
  background-color: crimson;
  color:white ;
}
