
     .main-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
    align-items: center;

}
.container{
    width: 100%;
    max-width: 350px;
    display: grid;
    grid-template-rows: auto,1fr;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    font-family: sans-serif;


}
.container>div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    
}
.container>div:first-child>img{
    width: 100%;
    padding-bottom: 5px;
}
.container>div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   

}
.container>div h3{
    margin: 0;
    font-size: 18px;
}
.container > div h4{
    font-size: 18px;
    font-weight: 100;
    font-family: serif;
    margin: 0;
}
.container>div>div>img {
    width: 50%;
    
}
 