#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

video{
  width: 500px;
}

button{
   width: 95px;
   margin: 2%;
   border: 1px soild blueviolet;
   background-color: aquamarine;
}

