 
        h1{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        body{
            padding: 20px;
            margin: 20px;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            text-align: center;
            gap: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
        .container div{
            border: 1px solid black;
            padding: 10px;
            border-radius: 20px;
        }
        .item1{
            background-color: #56DFCF;
            color: black;
        }
        .item2{
            background-color: #ecc1c1;
            color: black;
        }
        .item3{
            background-color: #FFE893;
            color: black;
        }
        .item{
            visibility: hidden;
        }
        .end{
            background-color: #56DFCF;
            color: black;
            padding: 10px;
            border-radius: 20px;
            margin: 20px;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
  